.myname{
  font-family: 'Rouge Script', cursive;
  color: #555A8f;
  font-size:xxx-large;
  padding-left: 20px;
}

h3{
  color: #996953;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
  text-align: center;

}

.link:hover{
  text-decoration: underline;
}